{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}
        <title>
            Title
        </title>
        {% endblock %}
        {% block style %}
        <style>
            .myclass {
                color:blue;
            }
        </style>
        {% endblock %}
        {% block script %}
        <script Language="javascript">
            function testFunction() {
                alert("Javascript Function...");
            }
        </script>
        {% endblock %}
    </head>
    <body>
        {% block body %}

        <div>
            <h3>
                장고(Django + MariaDB 게시판
            </h3>
            <ul style="display: flex;">
                <li style="list-style: none; margin-right: 10px;"><button>HOME</button></li>
                <li style="list-style: none; margin-right: 10px;"><button onclick="testFunction()">Call function</button></li>
                <li style="list-style: none; margin-right: 10px;"><a href="http://knu.abcyo.kr" target="_blank"><button>COP</button></a></li>
            </ul>
        </div>

        {% endblock %}
    </body>
</html>